section .cart {
  position: relative;
  border: 1px solid #ccc;
}
.amount span {
  color: #ac0d0d;
  padding: 0 20px;
}
.amount .count {
  width: 30px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ac0d0d;
  cursor: pointer;
  font-weight: 900;
}

.delete .close {
  width: 20px;
  height: auto;
}
.total {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total a {
  text-decoration: none;
  text-transform: uppercase;
  background: wheat;
  color: black;
  letter-spacing: 2px;
  padding: 10px 25px;
}
.total h3 {
  /* margin-right: 50px; */
  padding: 7px 7px;
  color: white;
  letter-spacing: 2px;
  background-color: #ac0d0d;
}
