body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .app {
} */

section {
  background-color: white;
  margin-bottom: 25px;
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 25px auto;
}

.inner-section {
  padding: 15px 10px;
  box-shadow: 0 0 5px #ccc;
  margin: 25px;
}
